:root {
   --primary-color: #61b1ba;
   --secondary-color: #28374f;
   --tertiary-color: #708090;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* Here we apply Font and Font Color to body */
   color: var(--tertiary-color);
   font-family: Helvetica, Arial, sans-serif;
}

/* Apply styles to <header> */
header {
   z-index: 9999;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   padding: 20px 35px;
   background-color: var(--tertiary-color);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background-image: url("../images/hero-bg.gif");
   background-attachment: fixed;
   background-size: cover;
   background-position: 60%;
}

header h1 {
   font-weight: bold;
   font-size: 36px;
   color: var(--primary-color);
   margin: 0;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
   text-decoration: none;
   color: var(--primary-color);
}

header nav {
   margin: 7px 0;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
   padding: 10px 15px;
   font-weight: lighter;
   font-size: 1.55vw;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
   background: var(--secondary-color);
   color: var(--primary-color);
   border-radius: 15px;
   text-shadow: none;
}

footer {
   background-color: var(--primary-color);
   padding: 40px 35px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer h2 {
   color: var(--secondary-color);
   font-size: 30px;
   margin: 0;
}

footer div {
   line-height: 1.5;
   text-align: right;
}

footer a {
   color: var(--secondary-color);
}

section {
   padding: 30px 15px;
}

/* Hero Style Start */
.hero {
   background-image: url("../images/hero-bg.gif");
   background-size: cover;
   background-attachment: fixed;
   background-position: 60%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
}

.hero-cta {
   width: auto;
   text-align: center;
   margin: 3.5%;
   color: #fff;
   font-size: 18px;
   line-height: 1.2;
}

.hero-cta h2 {
   font-style: italic;
   font-size: 30px;
   color: var(--primary-color);
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
   padding-top: 40px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   color: var(--secondary-color);
}

.container .item01 {
   font-size: 250%;
   padding: 0 15px 15px 0;
   text-align: right;
   width: 20%;
}

.container .item02 {
   border-left: 3px solid;
   font-size: 100%;
   margin: 5px auto;
   width: 80%;
   padding: 15px;
   text-align: left;
}

.app-01 {
   background-image: url("../images/run-buddy.png");
   background-size: cover;
   background-position: right;
   /* background-attachment: fixed; */
   padding: 80px 15px;
   margin: 5px auto;
   width: auto;
   height: 200px;
}

.app-02 {
   background-image: url("../images/maths.jpeg");
   background-size: cover;
   background-position: right;
   background-attachment: fixed;
   padding: 28px 15px;
   margin: 5px auto;
   width: 50%;
   height: 100px;
}

.app-03 {
   background-image: url("../images/pastel-puzzles.jpg");
   background-size: cover;
   background-position: right;
   background-attachment: fixed;
   padding: 28px 15px;
   margin: 5px auto;
   width: 50%;
   height: 100px;
}

.app-04 {
   background-image: url("../images/led-art.jpg");
   background-size: cover;
   background-position: right;
   background-attachment: fixed;
   padding: 28px 15px;
   margin: 5px auto;
   width: 50%;
   height: 100px;
}

.app-05 {
   background-image: url("../images/surf-report.jpg");
   background-size: cover;
   background-position: right;
   background-attachment: fixed;
   padding: 28px 15px;
   margin: 5px auto;
   width: 50%;
   height: 100px;
}

mark {
   background-color: var(--primary-color);
}

.contact {
   background: var(--secondary-color);
}

.contact h2 {
   color: var(--primary-color);
}

/* MEDIA QUERY FOR SMALLER SCREENS AND SMALLER */
@media screen and (min-width: 981px) {
   /* This will be applied on any screen smaller than 980px */
   .container {
      flex-wrap: nowrap;
   }
}

/* MEDIA QUERY FOR SMALLER SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   /* This will be applied on any screen smaller than 980px */
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   /* This will be applied on any screen between 768px and 575px */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
   /* this will be applied on any screen smaller than 575px */
}

/* .intro p {
   line-height: 1.3;
   color: var(--secondary-color);
   width: auto;
   font-size: 18px;
   margin: 0 auto;
   text-align: center;
}

.section-title {
   font-size: 38px;
   color: var(--secondary-color);
   border-bottom: 3px solid;
   border-top: 3px solid;
   padding: 5px;
   text-align: center;
   margin: 0 auto 35px auto;
   width: 30%;
} */
/* .sidebar {
   font-size: 30px;
   color: var(--secondary-color);
   border-right: 3px solid;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   width: 30%;
} */
/* 
.primary-border {
   border-color: var(--primary-color);
}

.secondary-border {
   border-color: var(--primary-color);
} */

/* .my-avatar {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 10px auto;
}

.my-avatar img {
   width: 250px;
} */

/* .application {
   margin: 25px;
   border: 1px solid var(--tertiary-color); /* Now we are adding State Based Positing 
} */
