:root {
   --primary-color: #a7ced3;
   --secondary-color: #28374f;
   --tertiary-color: #708090;
   --plain-color: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* Here we apply Font and Font Color to body */
   color: var(--tertiary-color);
   font-family: Helvetica, Arial, sans-serif;
}

/* Apply styles to <header> */
header {
   z-index: 9999;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   padding: 20px 35px;
   background-color: var(--tertiary-color);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background-image: url("../images/hero-bg.gif");
   background-attachment: fixed;
   background-size: cover;
   background-position: 60%;
}

header h1 {
   font-weight: bold;
   font-size: 36px;
   color: var(--primary-color);
   margin: 0;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
   text-decoration: none;
   color: var(--primary-color);
}

header nav {
   margin: 7px 0;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
   padding: 10px 15px;
   font-weight: lighter;
   font-size: 1.55vw;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
   background: var(--secondary-color);
   color: var(--primary-color);
   border-radius: 15px;
   text-shadow: none;
}

section {
   padding: 30px 15px;
}

/* Hero Style Start */
.hero {
   background-image: url("../images/hero-bg.gif");
   background-size: cover;
   background-attachment: fixed;
   background-position: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.hero img {
   max-width: 40%;
   max-height: 40%;
   border-radius: 100%;
}

.hero-cta {
   width: auto;
   text-align: center;
   margin: 3.5%;
   color: #fff;
   font-size: 18px;
   line-height: 1.2;
}

.hero-cta h2 {
   font-style: italic;
   font-size: 30px;
   color: var(--primary-color);
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
   padding-top: 40px;
   display: flex;
   flex-wrap: wrap;
   color: var(--secondary-color);
}

.container .item01 {
   font-size: 225%;
   padding: 2% 15px;
   text-align: right;
   width: 20%;
}

.container .item02 {
   border-left: 3px solid;
   font-size: 18px;
   margin: 5px auto;
   width: 80%;
   padding: 15px;
   text-align: left;
}

.container2 {
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
   /* color: var(--secondary-color); */
}

.text-box {
   background-color: var(--primary-color);
   width: fit-content;
   padding: 5px 10px;
   border-radius: 5px;
   position: absolute;
   bottom: 50px;
   left: 0px;
}

.item03 {
   display: flex;
}

.item03 a {
   color: var(--primary-color);
   text-decoration: none;
   margin: 50px auto;
   font-size: 28px;
   align-items: center;
   justify-content: space-between;
}

.app-01 a {
   background-image: url("../images/run-buddy.png");
   background-size: 110%;
   background-position: top 80px left 250px;
   background-attachment: fixed;
   display: block;
   margin: 5px auto;
   width: 99%;
   height: 300px;
   position: relative;
}

.app-02 {
   background-image: url("../images/maths.jpeg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: block;
   margin: 5px auto;
   width: 49%;
   height: 250px;
   position: relative;
}

.app-03 {
   background-image: url("../images/pastel-puzzles.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: block;
   margin: 5px auto;
   width: 49%;
   height: 250px;
   position: relative;
}

.app-04 {
   background-image: url("../images/led-art.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: block;
   margin: 5px auto;
   width: 49%;
   height: 250px;
   position: relative;
}

.app-05 {
   background-image: url("../images/surf-report.jpg");
   background-size: 80;
   background-position: top 40px left 385px;
   background-attachment: fixed;
   display: block;
   margin: 5px auto;
   width: 49%;
   height: 250px;
   position: relative;
}

.contact {
   background: var(--secondary-color);
}

.contact h2 {
   color: var(--primary-color);
}

/* MEDIA QUERY FOR SMALLER SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   /* This will be applied on any screen smaller than 980px */
   .container {
      flex-wrap: nowrap;
   }
   .container .item01 {
      font-size: 125%;
      padding: 0 15px 15px 0;
      text-align: right;
      width: 20%;
   }
}

/* MEDIA QUERY FOR SMALLER SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   /* This will be applied on any screen smaller than 980px */
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   /* This will be applied on any screen between 768px and 575px */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
   /* this will be applied on any screen smaller than 575px */
   header {
      padding: 5px 35px;
      flex-direction: column;
   }

   header h1 {
      text-align: center;
   }

   header nav ul li a {
      font-size: 18px;
   }

   .container {
      padding-top: 10px;
      flex-direction: column;
      align-items: center;
   }

   .container .item01 {
      font-size: 170%;
      padding: 1% 15px;
      text-align: center;
      width: 60%;
   }

   .container h2 {
      font-size: 170%;
   }

   .item03 {
      flex-direction: column;
   }

   .item03 a {
      text-decoration: underline;
      margin: 15px auto;
   }
}
